body {
  background-color: black;
}

.container-fluid {
  color: white;
  text-align: center;
  font-size: 30px;
}

.text-primary {
  font-size: 50px;
  color: white;
  padding-bottom: 10px;
}

.id {
  padding-top: 20px;
  font-size: 100px;
}

.toggle {
  padding: 30px;
}